// GILROY
//
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GilroyMedium/font.woff2") format("woff2"), url("../fonts/GilroyMedium/font.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/GilroySemiBold/font.woff2") format("woff2"), url("../fonts/GilroySemiBold/font.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/GilroyBold/font.woff2") format("woff2"), url("../fonts/GilroyBold/font.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/GilroyExtraBold/font.woff2") format("woff2"),url("../fonts/GilroyExtraBold/font.woff") format("woff");
}

// LIBRE FRANKLIN
//
@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/LibreFranklin/LibreFranklin-Regular.woff2") format("woff2"), url("../fonts/LibreFranklin/LibreFranklin-Regular.woff") format("woff");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/LibreFranklin/LibreFranklin-Italic.woff2") format("woff2"), url("../fonts/LibreFranklin/LibreFranklin-Italic.woff") format("woff");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/LibreFranklin/LibreFranklin-Medium.woff2") format("woff2"), url("../fonts/LibreFranklin/LibreFranklin-Medium.woff") format("woff");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/LibreFranklin/LibreFranklin-MediumItalic.woff2") format("woff2"), url("../fonts/LibreFranklin/LibreFranklin-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/LibreFranklin/LibreFranklin-ExtraBold.woff2") format("woff2"), url("../fonts/LibreFranklin/LibreFranklin-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/LibreFranklin/LibreFranklin-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/LibreFranklin/LibreFranklin-ExtraBoldItalic.woff") format("woff");
}